<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/configuration.css">
    <link href="/bootstrap.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>

    <script src="/vue.js"></script>


    <title>ConfigurationPage</title>
</head>


<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand">文本标注辅助系统</a>
            </div>
            <!-- /.navbar-header -->



        </nav>





<div id="app" >
    <div class="row">
        <div class="col-lg-12">



      <div class="panel panel-default">
        <div class="panel-heading">数据库上传</div>
            <div class="panel-body">

<!--action="upload"  method=post  -->
          <form >
                    <input id="database-file" type=file name=file/>
                    </br>
                    <span>请输入您要创建的数据库名字</span>
                    <input id="databaseName" class="form-control" name="databaseName"/>
                    </br>
                                            <span>请选择数据库类型</span>
                                            <select class="form-control" id="database-type">
                                                <option value="notation"> 标注</option>
                                                <option value="classification">分类</option>

                                            </select>
                </br>
              <button type="button" class="btn btn-default" v-on:click="uploadFile();">上传</button>
            </form>






        </div>
      </div>









<!--

      <div class="panel panel-default">
      <div class="panel-heading">标签编辑栏</div>
      <div class="panel-body">

-->
          <ul class="nav nav-tabs" id="tabs">
                                <li value="notation" class="active"  id="test"><a href="#notation" data-toggle="tab" aria-expanded="true">标注</a>
                                </li>
                                <li value="classification" class="" ><a href="#classification" data-toggle="tab" aria-expanded="false">分类</a>
                                </li>
          </ul>

          <div class="tab-content">





                                <div class="tab-pane fade active in" id="notation">
                                    <div class="panel panel-default">

                                        <div class="panel-body">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">标签编辑栏</div>


                                        <div class="panel-collapse collapse in">
                                    <div class="panel-body">
                                          <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                                <table id="notationTable"  class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                                       style="width:100%;table-layout:fixed;overflow:hidden;" border="1" >



                                                        <thead>
                                                            <tr>
                                                                <th>标注</th>
                                                                <th>标签</th>
                                                            </tr>
                                                        </thead>

                                                    <tbody>



                                                    <tr v-for="pair in notationPairs" >
                                                        <template v-if="pair.category === 'notation'">
                                                        <td> <div class =" notationInTable" > {{pair.notation}} </div> </td>
                                                        <td> <div class =" labelInTable"> {{pair.label}}    </div> </td>
                                                            </template>
                                                    </tr>
                                                    </tbody>

                                                </table>

                                                      <div class="row" style="margin: 0 auto;text-align: center;">
                                                          <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModal" v-on:click="decideType();">增加一行</button>
                                              <!--            <button class="btn btn-default btn-danger" v-on:click="deleteAllUnusedRows();">删除所有未使用过的标签</button>
                                                                                    <button class="btn btn-default btn-warning" v-on:click="deleteLastRow();">删除最后行</button>
                                                          <button class="btn btn-default btn-danger" v-on:click="abandonLabelChanges();">放弃编辑</button>
                                                          <button class="btn btn-default btn-success" v-on:click="submitLabelChanges();">提交编辑</button>       -->
                                                      </div>
                                                  </div>
                                    </div>
                                            </div>


                                    </div>



                                              <div class="panel panel-default">
                                              <div class="panel-heading">选择数据库开始工作</div>
                                                  <div class="panel-collapse collapse in">


                                                      <div class="panel-body">
                                                        <div class="form-group">
                                                            <span>选择您要操作的文本库</span>
                                                            <select class="form-control" id="notationopts">
                                                                <option v-for="database in databases" v-if="database.category==='notation'" >{{ database.name }}</option>
                                                            </select>

                                                        </div>
                                                        <button class="btn btn-default btn-success" v-on:click="startWork('notation');"                >开始标注</button>

                                                      </div>
                                                  </div>


                                                  </div>




                                        </div>
                                    </div>
                                </div>

                                  <div class="tab-pane fade" id="classification">

                                      <div class="panel panel-default">

                                        <div class="panel-body">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">标签编辑栏</div>

                                        <div class="panel-collapse collapse in">

                                      <div class="panel-body">
                                      <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                                    <table id="classificationTable"  class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                                           style="width:100%;table-layout:fixed;overflow:hidden;" border="1" >



                                                            <thead>
                                                                <tr>
                                                                    <th>类别</th>
                                                                    <th>标签</th>
                                                                </tr>
                                                            </thead>

                                                        <tbody>



                                                        <tr v-for="pair in classificationPairs" >
                                                        <template v-if="pair.category === 'classification'">
                                                        <td> <div class =" notationInTable" > {{pair.notation}} </div> </td>
                                                        <td> <div class =" labelInTable" > {{pair.label}}    </div> </td>
                                                            </template>
                                                    </tr>
                                                        </tbody>

                                                    </table>

                                                          <div class="row" style="margin: 0 auto;text-align: center;">
                                                              <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModal" v-on:click="decideType();">增加一行 </button>
                                             <!--                 <button class="btn btn-default btn-warning" v-on:click="deleteLastRow();">删除最后行</button>
                                                              <button class="btn btn-default btn-danger" v-on:click="abandonLabelChanges();">放弃编辑</button>
                                                              <button class="btn btn-default btn-success" v-on:click="submitLabelChanges();">提交编辑</button>  -->
                                                          </div>
                                                      </div>







                                      </div>








                                        </div>


                                      </div>


                                                <div class="panel panel-default">
                                              <div class="panel-heading">选择数据库开始工作</div>

                                                    <div class="panel-collapse collapse in">

                                              <div class="panel-body">
                                                <div class="form-group">
                                                    <span>选择您要操作的文本库</span>
                                                    <select class="form-control" id="classificationopts">
                                                        <option v-for="database in databases" v-if="database.category==='classification'">{{ database.name }}</option>
                                                    </select>

                                                </div>

                                                  <button class="btn btn-default btn-warning" v-on:click="startWork('classification');"        >开始分类</button>
                                              </div>

                                                    </div>

                                                  </div>
                                  </div>
                                </div>
                                  </div>





                            </div>






<!--


      </div>





      </div>

-->







        </div>
    </div>







<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					标签添加栏
				</h4>
			</div>
			<div class="modal-body">
					<form class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">{{ type }}：</span>
                            <input type="text" class="form-control" id="new_mark">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">标签：</span>
                            <input type="text" class="form-control" id="new_tag">
                        </div>
                    </form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">放弃编辑
				</button>
				<button type="button" class="btn btn-success" v-on:click="submitLabelChanges();">
					提交编辑
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>




</div>
    <script src="/configuration.js"></script>

<script src="/bootstrap.min.js"></script>

</body>
</html>